*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Hevitica, sans-serif;
}
header{
	font-weight: bolder;
	background-color:plum;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
.title{
	color: white;
}
nav{
	width: 30;
	background: rebeccapurple;
	padding: 20px;
	color: white;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li 
a{
	text-decoration: none;
	color: white;
	float: left;
}
a:hover{
	color: purple;
}
 a:active{
	color: purple;
}
article{
	padding: 20px;
	background: plum;
}
.data{
	margin-bottom: 100px;
	border-radius: 25px;
	padding: 5%;
	background: white;
}
section:after{
	background-color: purple;
	content: "";
	display: table;
	clear: both;
}
button {
	padding: 10px;
}
button a,td a{
	color: black;
	text-decoration: none;
}
table{
	text-align: center;
	border-collapse: collapse;
}
td{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: deepskyblue;
	padding: 18px;
	text-align: center;
	color: white;
}
@media(max-width:  600px){
	nav, article{
		width: 100;
		height: auto;
	}
}